.main-section {
    background-image: url("/images/Main_Background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    display: flex;
}

.bookpage-main-section::before {
    position: absolute;
    content: "Photo by Alfons Morales on Unsplash";
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    min-height: 480px;
    opacity: 0.25;
    z-index: -1;
    background-image: url("/images/Bookpage_Background.jpg");
    background-size: cover;
    background-position: center;
}

.bookpage-main-section {
    height: 50vh;
    min-height: 480px;
    align-items: center;
    display: flex;
}

.bookpage-main-section::after {
    content: "";
    display: block;
    width: 100%;
    height: 50vh;
    min-height: 480px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.4;
    z-index: -1;
}

.title-middle {
    /* align-content: flex-end; */
    text-align: right;
    width: 100%;
}

.text-white {
    color: #FFFFFF;
}

.bg-overlay::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.bg-overlay:hover {
    color: white;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.bg-overlay:hover::after {
    opacity: 1;
}

.bg-myself {
    position: relative;
}

.bg-myself::before {
    position: absolute;
    content: "Photo by Al ghazali on Unsplash";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    background-image: url("/images/bg-myself.jpg");
    background-size: cover;
    background-position: center;
}

.bg-books {
    position: relative;
}

.bg-books::before {
    position: absolute;
    content: "Photo by Susan Yin on Unsplash";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    background-image: url("/images/bg-books.jpg");
    background-size: cover;
    background-position: center;
}

.bg-blog {
    position: relative;
}

.bg-blog::before {
    position: absolute;
    content: "Photo by rawpixel on Unsplash";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    background-image: url("/images/bg-blog.jpg");
    background-size: cover;
    background-position: center;
}

.bg-education {
    position: relative;
}

.bg-education::before {
    position: absolute;
    content: "Photo by Beatriz Pérez Moya on Unsplash";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    background-image: url("/images/bg-education.jpg");
    background-size: cover;
    background-position: center;
}

.section-navigation-title {
    font-size: xx-large;
    font-weight: 700;
}

.section-navigation-desc {
    font-size: large;
    font-weight: 500;
    white-space: pre-wrap;
}
